{
    "version": 3,
    "cmakeMinimumRequired": {
      "major": 3,
      "minor": 21,
      "patch": 0
    },
    "configurePresets": [
        {
          "name": "user-local",
          "inherits": ["default-with-tests"],
          "displayName": "(user) local build",
          "cacheVariables": {
              "CMAKE_CXX_FLAGS_DEBUG": "-g",
              "OPENSSL_ROOT_DIR": "/path/to/openssl@1.1",
              "Arrow_DIR": "/path/to/arrow/dist/lib/cmake/arrow",
              "ArrowTesting_DIR": "/path/to/arrow/dist/lib/cmake/arrow",
              "GTest_DIR": "/path/to/googletest/1.11.0/lib/cmake/GTest"
          }
        }
    ],
    "testPresets": [
      {
          "name": "user-test-preset",
          "description": "",
          "displayName": "",
          "configurePreset": "user-local",
          "environment": {
            "CTEST_OUTPUT_ON_FAILURE": "1"
          }
      }
    ]
}
