{
    "version": 3,
    "cmakeMinimumRequired": {
      "major": 3,
      "minor": 21,
      "patch": 0
    },
    "configurePresets": [
        {
          "name": "user-local",
          "inherits": [],
          "displayName": "(user) local build",
          "cacheVariables": {
              "NANOARROW_SQLITE3_BUILD_TESTS": "ON",
              "CMAKE_BUILD_TYPE": "Debug"
          }
        }
    ],
    "testPresets": [
      {
          "name": "user-test-preset",
          "description": "",
          "displayName": "(user) test preset",
          "configurePreset": "user-local",
          "environment": {
            "CTEST_OUTPUT_ON_FAILURE": "1"
          }
      }
    ]
}
