# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.

on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]

name: Build and Test

jobs:
  build-and-test:

    runs-on: ubuntu-latest

    name: ${{ matrix.config.label }}

    strategy:
      fail-fast: false
      matrix:
        config:
          - {label: default-build}
          - {label: namespaced-build}
          - {label: bundled-build}

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Install dependencies
        run: |
          sudo apt-get install -y cmake valgrind

      - name: Cache Dependency Builds
        id: cache-deps-build
        uses: actions/cache@v3
        with:
          path: build-deps
          key: ${{ runner.os }}-5

      - name: Init build dir
        if: steps.cache-deps-build.outputs.cache-hit != 'true'
        run: mkdir build-deps

      - name: Fetch googletest
        if: steps.cache-deps-build.outputs.cache-hit != 'true'
        uses: actions/checkout@v3
        with:
          repository: google/googletest
          ref: release-1.11.0
          path: build-deps/googletest
          fetch-depth: 0

      - name: Build googletest
        if: steps.cache-deps-build.outputs.cache-hit != 'true'
        run: |
          cd build-deps/googletest
          cmake . -DCMAKE_CXX_FLAGS=-fPIC
          cmake --build .
          cmake --install . --prefix ../../dist

      - name: Install googletest
        run: |
          cd build-deps/googletest
          cmake --install . --prefix ../../dist

      - name: Fetch Arrow
        if: steps.cache-deps-build.outputs.cache-hit != 'true'
        uses: actions/checkout@v3
        with:
          repository: apache/arrow
          ref: apache-arrow-8.0.0
          path: build-deps/arrow
          fetch-depth: 0

      - name: Build Arrow
        if: steps.cache-deps-build.outputs.cache-hit != 'true'
        run: |
          mkdir build-deps/arrow-build
          cd build-deps/arrow-build
          cmake ../arrow/cpp -DARROW_JSON=ON -DARROW_TESTING=ON -DBoost_SOURCE=BUNDLED -DGTest_DIR=`pwd`/../../dist/lib/cmake/GTest
          cmake --build .
          cmake --install . --prefix ../../dist

      - name: Install arrow
        run: |
          cd build-deps/arrow-build
          cmake --install . --prefix ../../dist

      - name: Build nanoarrow (default)
        if: matrix.config.label == 'default-build'
        run: |
          export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:`pwd`/dist/lib
          sudo ldconfig
          mkdir build
          cd build
          cmake .. -DCMAKE_BUILD_TYPE=Debug -DGTest_DIR=`pwd`/../dist/lib/cmake/GTest -DArrow_DIR=`pwd`/../dist/lib/cmake/arrow -DArrowTesting_DIR=`pwd`/../dist/lib/cmake/arrow -DNANOARROW_CODE_COVERAGE=ON -DNANOARROW_BUILD_TESTS=ON
          cmake --build .
      
      - name: Build nanoarrow (namespaced)
        if: matrix.config.label == 'namespaced-build'
        run: |
          export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:`pwd`/dist/lib
          sudo ldconfig
          mkdir build
          cd build
          cmake .. -DCMAKE_BUILD_TYPE=Debug -DGTest_DIR=`pwd`/../dist/lib/cmake/GTest -DArrow_DIR=`pwd`/../dist/lib/cmake/arrow -DArrowTesting_DIR=`pwd`/../dist/lib/cmake/arrow -DNANOARROW_CODE_COVERAGE=ON -DNANOARROW_BUILD_TESTS=ON -DNANOARROW_NAMESPACE=SomeUserNamespace
          cmake --build .

      - name: Build nanoarrow (bundled)
        if: matrix.config.label == 'bundled-build'
        run: |
          export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:`pwd`/dist/lib
          sudo ldconfig
          mkdir build
          cd build
          cmake .. -DCMAKE_BUILD_TYPE=Debug -DGTest_DIR=`pwd`/../dist/lib/cmake/GTest -DArrow_DIR=`pwd`/../dist/lib/cmake/arrow -DArrowTesting_DIR=`pwd`/../dist/lib/cmake/arrow -DNANOARROW_CODE_COVERAGE=ON -DNANOARROW_BUILD_TESTS=ON -DNANOARROW_BUNDLE=ON
          cmake --build .

      - name: Run tests
        run: |
          export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:`pwd`/dist/lib
          sudo ldconfig
          cd build
          ctest -T test --output-on-failure .

      - name: Run tests with valgrind
        if: matrix.config.label == 'default-build'
        run: |
          export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:`pwd`/dist/lib
          sudo ldconfig
          cd build
          ctest -T memcheck .

      - name: Upload memcheck results
        if: failure() && matrix.config.label == 'default-build'
        uses: actions/upload-artifact@main
        with:
          name: nanoarrow-memcheck
          path: build/Testing/Temporary/MemoryChecker.*.log

      - name: Calculate coverage
        if: matrix.config.label == 'default-build'
        run: |
          SOURCE_PREFIX=`pwd`
          mkdir build/cov
          cd build/cov
          gcov -abcfu --source-prefix=$SOURCE_PREFIX `find ../CMakeFiles/nanoarrow.dir/ -name "*.gcno"`

      - name: Upload coverage
        uses: codecov/codecov-action@v2
        with:
          directory: build/cov

  R-CMD-check:
    runs-on: ${{ matrix.config.os }}
    name: R / ${{ matrix.config.os }} (${{ matrix.config.r }})

    strategy:
      fail-fast: false
      matrix:
        config:
          - {os: ubuntu-latest,   r: 'devel', http-user-agent: 'release'}

    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
      R_KEEP_PKG_SOURCE: yes

    steps:
      - uses: actions/checkout@v2

      # Probably a better way to do this, but for now do the vendor step manually
      - name: Vendor nanoarrow into the R package
        run: |
          cd r
          ./configure

      - uses: r-lib/actions/setup-pandoc@v2
      - uses: r-lib/actions/setup-r@v2
        with:
          r-version: ${{ matrix.config.r }}
          http-user-agent: ${{ matrix.config.http-user-agent }}
          use-public-rspm: true
      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: any::rcmdcheck
          needs: check
          working-directory: r
      - uses: r-lib/actions/check-r-package@v2
        with:
          upload-snapshots: true
          working-directory: r

  deploy:
    name: Bundle and deploy
    needs: build-and-test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Install dependencies
        run: |
          sudo apt-get install -y cmake

      - name: Create bundle
        run: |
          mkdir build && cd build
          cmake .. -DNANOARROW_BUNDLE=ON -DNANOARROW_BUILD_ID=gha${{ github.sha }}
          cmake --build .
          cmake --install . --prefix=../nanoarrow-latest
          cd ..
          cp LICENSE.txt nanoarrow-latest/LICENSE.txt
          zip nanoarrow-latest.zip nanoarrow-latest/nanoarrow.h nanoarrow-latest/nanoarrow.c nanoarrow-latest/LICENSE.txt

      - name: Upload bundle artifact
        uses: actions/upload-artifact@main
        with:
          name: nanoarrow-latest
          path: nanoarrow-latest.zip
      
      - name: Commit bundle to dist/
        if: success() && github.ref == 'refs/heads/main'
        run: |
          cp nanoarrow-latest/nanoarrow.h dist/nanoarrow.h
          cp nanoarrow-latest/nanoarrow.c dist/nanoarrow.c
          git add dist/nanoarrow.h dist/nanoarrow.c

          # only commit if there are changes
          git config --global user.email "actions@github.com"
          git config --global user.name "GitHub Actions"
          UPDATED=`git diff --name-only --cached`
          if [ "$UPDATED" ]; then
            git commit -m "Update dist/ for commit ${{ github.sha }}"
            git push
          fi
