# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.

name: docs

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
    paths:
      - '.github/workflows/docs.yaml'
      - 'src/nanoarrow/**'
      - 'r/**'

jobs:
  docs:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Build documentation
        run: |
          echo "::group::Build documentation"
          EXIT_CODE=0
          docker compose run --rm docs || EXIT_CODE=1
          echo "::group::Logs"
          cat docs/_build/html/build-docs.log
          exit $EXIT_CODE

      - name: Upload built documentation
        uses: actions/upload-artifact@main
        with:
          name: nanarrow-docs
          path: docs/_build/html

      - name: Clone gh-pages branch
        if: success() && github.repository == 'apache/arrow-nanoarrow' && github.ref == 'refs/heads/main'
        uses: actions/checkout@v2
        with:
          ref: gh-pages
          path: pages-clone

      - name: Update development documentation
        if: success() && github.repository == 'apache/arrow-nanoarrow' && github.ref == 'refs/heads/main'
        env:
          DOC_TAG: "dev"
        run: |
          git config --global user.email "actions@github.com"
          git config --global user.name "GitHub Actions"
          cd pages-clone
          if [ -d "$DOC_TAG" ]; then
            git rm -rf "$DOC_TAG"
          fi
          mkdir "$DOC_TAG"
          cp -R ../docs/_build/html/* "$DOC_TAG"
          touch .nojekyll
          git add .nojekyll
          git add *
          git commit --allow-empty -m"update documentation for tag $DOC_TAG"
          git push
          cd ..
