# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
    paths:
      - 'CMakeLists.txt'
      - '.github/workflows/verify-source.yaml'
      - 'dev/release/verify-release-candidate.sh'
      - 'src/nanoarrow/**'

name: Release Candidate Verification

jobs:
  verify-rc:
    runs-on: ubuntu-latest
    name: ${{ matrix.config.label }}

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
        with:
          path: src
          fetch-depth: 0

      - name: Install dependencies
        run: |
          sudo apt install -y -V ca-certificates lsb-release wget cmake
          wget https://apache.jfrog.io/artifactory/arrow/$(lsb_release --id --short | tr 'A-Z' 'a-z')/apache-arrow-apt-source-latest-$(lsb_release --codename --short).deb
          sudo apt-get install -y -V ./apache-arrow-apt-source-latest-$(lsb_release --codename --short).deb
          sudo apt-get update
          sudo apt-get install -y -V libarrow-dev
          rm apache-arrow-apt-*.deb

      # Needed for R source verification
      - uses: r-lib/actions/setup-pandoc@v2
      - uses: r-lib/actions/setup-r@v2
        with:
          use-public-rspm: true

      - name: Run dev/release/verify-release-candidate.sh
        run: |
          mkdir nanoarrow-verify-tmp
          export NANOARROW_TMPDIR=`pwd`/nanoarrow-verify-tmp
          cd src/dev/release
          ./verify-release-candidate.sh

      - name: Upload temp directory
        if: failure()
        uses: actions/upload-artifact@main
        with:
          path: nanoarrow-verify-tmp
